body {
    text-align: center;
    background-image: url("images/background3.jpg");
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
    background-image: url("images/tom1.png");

}

.a {
    background-image: url("images/tom2.png");
}

.s {
    background-image: url("images/tom3.png");
}

.d {
    background-image: url("images/tom4.png");
}


.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
	background-color:#282d42;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}


.service{
	background: RGB(0,0,0,0.7);
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f8f32b;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #eee;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #282d42;
	cursor: pointer;
}
