@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 5rem 9%;
}
ul{
    list-style-type: none;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #fff;
  color: #fff;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover{
  color: rgb(100, 100, 100);
}
.container-fluid{
    padding: 0 0;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #f8f32b;
}
header {
  background-color: #06021a;
}
.dropdown-menu{
  background-color: #06021a;
}
.dropdown-item:hover{
  background-color: rgba(0, 0, 0, 0);
}
header.active {
  background: #f8f32b;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.footer__social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
}


.menu-toggle .bar{ 
    width: 25px;
    height: 5px;
    margin: 5px auto;
    transition:all 0.3s ease-in-out;
    background: #fff;
}
.menu-toggle{ 
    margin: 2px auto;
}

.links-nav-btn:hover{
    background-color: transparent;
    color: #f8f32b;
    padding: 5px 15px;
    border-radius: 4px;
    border:solid 1px #8d99ae;
    transition: all 0.3s ease-out;
}
.navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: #c2c2c2;
    text-decoration: none;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-self: end;
}
.navbar a:hover {
  color: #8d99ae;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
font-size: medium;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5dd8;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 9%;
}


.home .box .content {
  float: right;
  width: 50rem;
}

.home .box .content span {
  font-size: 4rem;
  color: #8D99AE;
}

.home .box .content h3 {
  font-size: 6rem;
  color: #f8f32b;
  padding-top: .5rem;
  text-transform: uppercase;
}


.about {
  background: #282d42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}


.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #282d42;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #eee;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f8f32b;
	color: #3c406c;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

.footer {
  background: url(../images/footer1.jpg) ;
  background-size: cover;
  color: #fff;
	position: relative;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.social{
	display: flex;
  align-items: center;
  
	justify-content: center;
}

.service{
	background: RGB(0,0,0,0.7);
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f8f32b;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #eee;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#282d42;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #282d42;
	cursor: pointer;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #8d99ae;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#8d99ae;
	bottom: 35px;
	font-size: 14px; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f8f32b;
	cursor: pointer;
}
.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}
.home .box .content p {
  line-height: 2;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.about {
  background: #282d42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  color: #f8f32b;
}

.about .content p {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 2;
}


.services {
  background: #282d42;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.box {
  padding: 2rem;
  border: 0.2rem solid #10221b;
  
  background: #8d99ae;
}
.boxs{
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 0.2rem solid #10221b;
  border-radius: .5rem;
  background: #8d99ae;
}


.boxs img {
  height: 10rem;
  margin-bottom: 1rem;
}

.boxs h3 {
  font-size: 2rem;
  color: #f8f32b;
}

.boxs p {
  font-size: 1.5rem;
  color: #3c406c;
  padding: 1rem 0;
  line-height: 2;
}

* {box-sizing: border-box;}
    body {font-family: Verdana, sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1920px;
      position: relative;
      margin: auto;
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 25px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .9} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .9} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }

.reviews .slide .text {

  font-size: 1.5rem;
  font-style: italic;
  background: #eee;
  border-radius: .5rem;
  color: #10221b;
  line-height: 2;
  margin-bottom: 3rem;
}

.reviews .slide .text::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: .7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 5rem;
  border-radius: 50%;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: #10221b;
}

.reviews .slide .user span {
  color: #f8f32b;
  font-size: 1.5rem;
}

.garanties {
    background: #282d42;
}

.garanties .slide {
  text-align: center;
  padding: 2rem;
}

.garanties .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.garanties .slide .icons {
  background: #10221b;
  border-radius: .5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
}

.garanties .slide .icons a {
  font-size: 1.4rem;
  color: #fff;
  margin: 0 1rem;
}

.garanties .slide .icons a:hover {
  color: #219150;
}

.garanties .slide .icons a i {
  padding-right: .5rem;
  color: #219150;
}

.garanties .slide h3 {
  font-size: 2rem;
  color: #fff;
}

.garanties .slide p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  color: #fff;
}

.email {
  background: #282d42;
}

.email .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.email .content p {
  font-size: 2rem;
  line-height: 2;
  color: #fff;
}

.email .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.2rem solid #10221b;
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #10221b;
  padding: 0 1.3rem;
}

.email .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #10221b;
  color: #fff;
}
.footer {
  background: url(../images/footer1.jpg) ;
  background-size: cover;
  color: #fff;
  font-size: 5rem;
  background-position: center;
  background-attachment: fixed;
}

.reviews{
  padding: 40px 73px;
  background: #282d42;
  color: #434343;
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-lg-4{
  box-sizing: border-box;
  padding: 1.5% 1.5%;
}
.review{
  background: #fff;
  padding: 30px;
}
.review img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}